
* {
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.active_link {
    color: white;
    background-color: rgb(169, 24, 10);
 }
ul li a:hover {
    color: white;
    background-color: rgb(169, 24, 10);
}