<div style="background-color: #ddd; padding: 5vw;" class="h-100 m-3 wrapper">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto product">
            <div class="row">
                <div class="col-md-7">
                    <div class="product-image">
                        <div #imageElement class="image">
                            <img class="img-fluid" [src]="productItem.thumbnail" alt="" />
                        </div>
                    </div>
                    <div style="width: 100%;" class="row col-4 col-md-4 mt-4 col-sm-3 product-thumbnails">
                        @for (item of productItem.images; track $index) {
                            <img class="img-thumbnail col-4 col-md-3 col-sm-2 col-xs-2" [src]="item" alt="">
                        }
                    </div>                    
                </div>
                <div class="col-md-5 mt-3">
                    <div class="product-details">
                        <h2>{{productItem.title}}</h2>
                        <p>{{ productItem.description }}</p>
                        <div class="product-details">
                            <app-star-rating [rating]="productItem.rating"></app-star-rating>
                            <div class="price-details">
                                <p>Price: {{ productItem.price | currency }}</p>
                                <p><span class="text-danger">Discount: </span>{{ productItem.discountPercentage +
                                    '%' }}</p>
                                <p>Total price: ${{ productItem.price | discount : productItem.discountPercentage }}
                                </p>
                                <p><span class="text-danger">Stock: </span>{{ productItem.stock }}</p>
                            </div>
                            <div class="action-buttons">
                                <button class="btn btn-success me-3">Buy Now</button>
                                <button class="btn btn-danger" (click)="addToCart(productItem)">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
