<h2 class="text-primary">Product Details</h2>
<hr />
<div class="row">
    <div class="col-md-7">
        <img class="w-100" [src]="productItem.thumbnail" alt="">
    </div>
    <div class="col-md-4 p-5 me-4 mt-5">
        <h5>{{productItem.title}}</h5>
        <p>{{ productItem.description }}</p>
        <app-star-rating [rating]="productItem.rating"></app-star-rating>
        <div class="row mt-3">
            <div class="col-md-6">
                <p>Price: {{ productItem.price | currency }}</p>
            </div>
            <div class="col-md-6">
                <p><span class="text-danger">Discount: </span>{{ productItem.discountPercentage +'%'}}</p>
            </div>
            <div class="col-md-12">
                <p>Total price: ${{ productItem.price | discount : productItem.discountPercentage }}</p>
            </div>
            <div class="col-md-6">
                <p><span class="text-danger">Stock: </span>{{ productItem.stock }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <button class="btn btn-success btn-block">Buy Now</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-danger btn-block" (click)="addToCart(productItem)">Add to Cart</button>
            </div>
        </div>
    </div>
</div>

<!-- Images -->
@for (item of productItem.images; track $index) {
    <img style="width: 133px; height: 140px;" class="me-4 mt-3" [src]="item" alt="">
}

