<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
      <div class="col-md-8 form-container">
        <form action="#" class="contact-form">
          <h5 class="title mt-3 text-center">Contact us</h5>
          <div class="form-group mt-4">
            <input type="text" class="form-control rounded border-white" id="name" placeholder="Name" required>
          </div>
          <div class="form-group mt-3">
            <input type="email" class="form-control rounded border-white" placeholder="Email" required>
          </div>
          <div class="form-group mt-3">
            <textarea id="message" class="form-control rounded border-white" rows="5" placeholder="Message" required></textarea>
          </div>
          <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary btn-block">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>