
<h1 class="text-center mt-5">Products App</h1>
<div class="">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-4 g-5 p-4">
        <ng-container *ngFor="let product of products; trackBy: trackById; let i = index">
            <ng-container *ngIf="product.id !== 29">
                <div>
                    <div class="product-card">
                        <app-product-card [productItem]="product"></app-product-card>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>
